[data-page=".global_menu"][data-itemid="welcome_item"] > .bs-welcome-header {
  background-color: #6B8E23;
}
[data-page=".global_menu"][data-itemid="welcome_item1"] > .bs-welcome-header {
  background-color: #9ACD32;
}
[data-page=".global_menu"][data-itemid="welcome_item2"] > .bs-welcome-header {
  background-color: #778899;
}
[data-page=".global_menu"][data-itemid="welcome_item3"] > .bs-welcome-header {
  background-color: #5F9EA0;
}
[data-page=".global_menu"][data-itemid="welcome_item4"] > .bs-welcome-header {
  background-color: #6493EA;
}
[data-page=".global_menu"][data-itemid="welcome_item5"] > .bs-welcome-header {
  background-color: #3CB371;
}
[data-page=".global_menu"][data-itemid="welcome_item6"] > .bs-welcome-header {
  background-color: #D2691E;
}


