[data-cellid="grid_headcell_icons"][data-page="q_graph_002_list"][data-cellid="grid_headcell_icons"][data-page="q_graph_002_list"][data-cellid="grid_headcell_icons"][data-page="q_graph_002_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="q_graph_002_list"][data-cellid="grid_cell_icons"][data-page="q_graph_002_list"][data-cellid="grid_cell_icons"][data-page="q_graph_002_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_details"][data-page="q_graph_002_list"][data-cellid="grid_cell_details"][data-page="q_graph_002_list"][data-cellid="grid_cell_details"][data-page="q_graph_002_list"] {
  white-space: nowrap;
}


